nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    color: #fff;
    padding: 10px;
    font-size: 13px;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;
    background-color: #282c34;
    color: #fff;
  }
  
  .question-section {
    display: inline-block;
    background-color: #fff;
    color: #282c34;
    padding: 8px 10px;
    border-radius: 4px;
    margin-right: 16px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .timer {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;background-color: #282c34;
    color: #fff;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    margin-left: 24px;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
  }
  
  a:hover {
    color: #61dafb;
    cursor: pointer;
  }
  