/* .sidebar {
    background-color: #222;
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.user-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .green-box {
    height: 50px;
    background-color: green;
  }
  
  .video-box-container {
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-box {
    width: 100%;
    height: 100%;
  }
  